//Colors//
$color1: white;
$color2: #244F75;
$color3: #60BFBF;
$color4: #8C4B7E;
$color5: #F8BB44;
$color6: #F24B4B;

//numbers//

$altura1: 100vh;
$ancho1: 100vw;
$ancho2: 100%;

//Animation timming//

$timming: ease-out;